.camperDetails {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

p {
  margin: 0;
}
