@use "../../styles/variables";

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f7;
  align-items: center;
  padding: 28px 0;
  position: relative;
}

.navigation {
  ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 0px;
    margin: 0px;
  }
}

.logo {
  left: 64px;
  display: flex;
  align-items: center;
  position: absolute;
  flex-shrink: 0;
  z-index: 1;
}

.navLink {
  text-decoration: none;
  color: variables.$primary-black;
  font-weight: 500;
}

.active {
  color: variables.$primary-red;
}
