:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  color: #f7f7f7;
  letter-spacing: 0%;
  margin: 0px;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66;
  margin-bottom: 16px;
}

h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
}

.container {
  margin: 48px 64px;
}

.minicontainer {
  width: 631px;
  height: 588px;
}

button {
  outline: none;
}
